* {
    box-sizing: border-box;
    font-size: 0;
}
h1 {
    font-size: 50px;  
}
.flag {
    margin-left: 20px;
    margin-bottom: 50px;
    display: center;
}
.franceBlue {
    background-color: rgb(0, 0, 243);
    width: 120px;
    height: 200px;
    display: inline-block;
}
.franceWhite {
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 200px;
    display: inline-block;
}
.franceRed {
    background-color: rgb(238, 5, 5);
    width: 120px;
    height: 200px;
    display: inline-block;
}
.germanyBlack {
    background-color: rgb(0, 0, 0);
    width: 360px;
    height: 80px;
}
.germanyRed {
    background-color: rgb(238, 5, 5);
    width: 360px;
    height: 80px;
}
.germanyYellow {
    background-color: rgb(255, 222, 36);
    width: 360px;
    height: 80px;
}
.madWhite {
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 240px;
    display: inline-block; 
}
.madHorizontal {
    display: inline-block;
}
.madRed {
    background-color: red;
    width: 250px;
    height: 120px;
}
.madGreen {
    background-color: green;
    width: 250px;
    height: 120px;
}
.swissRed {
    background-color: rgb(238, 5, 5);
    width: 350px;
    height: 350px;
    z-index: -1;
}
.swissWhiteVert {
    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 220px;
    transform: translate(135px,65px);
}
.swissWhiteHoriz {
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: 70px;
    transform: translate(60px,-80px);
}
.swedeBlue {
    background-color: blue;
    width: 400px;
    height: 250px;
    z-index: -1;
}
.swedeYellowVert {
    background-color: gold;
    width: 50px;
    height: 250px;
    transform: translate(120px,0);
}
.swedeYellowHoriz {
    background-color: gold;
    width: 400px;
    height: 50px;
    transform: translate(0,-150px);
}
.gambiaRed {
    background-color: rgb(199, 9, 9);
    width: 400px;
    height: 80px;
    margin-bottom: 15px;
}
.gambiaBlue {
    background-color: rgb(11, 11, 116);
    width: 400px;
    height: 50px;
    margin-bottom: 15px;
}
.gambiaGreen {
    background-color: rgb(4, 87, 4);
    width: 400px;
    height: 80px;
}
.tongaRed {
    background-color: rgb(228, 4, 4);
    width: 450px;
    height: 250px;
}
.tongaWhite {
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 125px;
}
.tongaRedVert {
    background-color: rgb(228, 4, 4);
    width: 33px;
    height: 90px;
    transform: translate(73px,17px);
}
.tongaRedHoriz {
    background-color: rgb(228, 4, 4);
    width: 90px;
    height: 33px;
    transform: translate(45px,-45px);
}
.japanWhite {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 280px;
}
.japanRed {
    background-color: rgb(224, 7, 7);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(120px,65px)
}
.greeceBlue {
    background-color: rgb(0, 97, 170);
    width: 433px;
    height: 297px;
}
.greeceCrossVert {
    background-color: rgb(255, 255, 255);
    width: 33px;
    height: 165px;
    transform: translate(66px,0)
}
.greeceCrossHoriz {
    background-color: rgb(255, 255, 255);
    width: 165px;
    height: 33px;
    transform: translate(0,-99px)
}
.greeceShort1 {
    background-color: rgb(255, 255, 255);
    width: 268px;
    height: 33px;
    transform: translate(165px,-165px);
}
.greeceShort2 {
    background-color: rgb(255, 255, 255);
    width: 268px;
    height: 33px;
    transform: translate(165px,-132px);
}
.greeceLong1 {
    background-color: rgb(255, 255, 255);
    width: 433px;
    height: 33px;
    transform: translate(0,-99px); 
}
.greeceLong2 {
    background-color: rgb(255, 255, 255);
    width: 433px;
    height: 33px;
    transform: translate(0,-66px);
}
.nigerOrange {
    background-color: rgb(209, 62, 4);
    width: 400px;
    height: 110px;
}
.nigerWhite {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 110px;
}
.nigerGreen {
    background-color: rgb(0, 174, 64);
    width: 400px;
    height: 110px;
}
.nigerCircle {
    background-color: rgb(209, 62, 4);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    transform: translate(150px,7px)
}
.maldiveRed {
    background-color: rgb(116, 9, 41);
    width: 420px;
    height: 275px;
}
.maldiveGreen {
    background-color: rgb(10, 105, 10);
    width: 280px;
    height: 150px;
    transform: translate(70px,63px);
}
.whiteMoon {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(100px,25px);
}
.greenMoon {
    background-color: rgb(10, 105, 10);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(20px,0);
}